* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  margin-right: 20px;
}

th {
  background-color: rgb(189, 189, 252);
  text-transform: uppercase;
  font-size: 19px;
}
td {
  background-color: #d5f2fa;
  font-size: 17px;
}
body {
  height: 90vh;
}
